html {
  background: linear-gradient(to right, purple, rgb(103, 136, 253));
  font-family: "Poppins", sans-serif;
  --win-color: rgb(42, 188, 255);
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-header {
  color: white;
  font-size: 3rem;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px white;
}

.cell {
  aspect-ratio: 1 / 1;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  cursor: pointer;
}

#player-names,
#notification-container {
  display: flex;
  width: 100%;
  padding: 20px 0px;
  justify-content: space-around;
  color: white;
  font-size: 3rem;
}

#notification-container {
  font-size: 5rem;
  font-weight: bolder;
  color: lime;
  text-align: center;
}

.highlight {
  border: 8px solid yellow;
}

.turn-green {
  color: lime;
}

.name {
  border-radius: 8px;
  padding: 10px 15px;
  text-align: center;
}

#play-again-button {
  padding: 16px 20px;
  border: none;
  border-radius: 16px;
  background-color: var(--win-color);
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 999px) {
  .cell {
    height: 12vh;
  }
  #player-names,
  #notification-container {
    font-size: 3rem;
  }
}
